@use '@angular/material' as mat;

@include mat.core();

$app-typography: mat.define-typography-config();

.file-list-container {
  font-size: mat.font-size($app-typography, body-1);

  h1 {
    margin-top: 0;
    font-size: mat.font-size($app-typography, subtitle-1);
  }

  .file-list {
    max-height: 5.5rem;
    overflow-y: auto;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .close-button {
    color: rgb(180, 180, 180); 
  }
  
  .close-button:hover {
    color: white;
  }
}
