@use '@angular/material' as mat;

@include mat.core();

.save-container {
  position: relative;

  .save-content {
    padding: 6px;
    padding-right: 1.3rem;

    .save-button.mat-button {
      padding: 0;
      .mat-icon {
        color: rgb(120, 120, 120); 
      }
    }
  }

  .close-button {
    color: rgb(180, 180, 180);
  }

  .close-button:hover {
    color: black;
  }
}
