<section class="ak_pmap_main" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" align="end" class="mat-elevation-z7"
       fxLayout="column" fxLayoutAlign="start stretch" #sidenav>
      <mat-toolbar fxFlex="none" color="primary">
        <input type="file" multiple="multiple" accept="image/jpeg" 
          [ngStyle]="{'display': 'none'}"  #selectFiles
          (change)="onSelectedFiles($event)" />
        <button mat-button (click)="selectFiles.click()">
          <mat-icon>photo</mat-icon>
          Load Photos
        </button>
      </mat-toolbar>
      <div fxFlex="auto" class="image-list">
        <button class="image-button"  *ngFor="let i of images"
            [ngClass]="{'image-selected': i != null && currentImage == i.id }"
            (click)="currentImage = i != null ? i.id : 0">
          <img class="image" src="{{i != null ? i.dataUrl : ''}}" />
          <div class="image-overlay">{{i != null ? i.file.name : ''}}</div>
        </button>
      </div>
    </mat-sidenav>
    <div class="map_container">
      <map-view></map-view>
      <div class="drawer-button container">
        <button class="toggle-button"
          [ngClass]="{'open-drawer': !sidenav.opened }"
          (click)="sidenav.opened ? sidenav.close() : sidenav.open()">
        </button>
      </div>
    </div>
  </mat-sidenav-container>
</section>
