<section class="ak_pmap_main" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" align="end" class="mat-elevation-z7" #sidenav>
      <section class="sidepanel-main" [ngStyle]="{'display': !showHelp ? 'block': 'none'}">
        <div class="sidepanel-container" fxLayout="column" fxLayoutAlign="start stretch">
          <mat-toolbar color="primary" fxFlex="none">
            <div fxFill fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex>
                <input type="file" multiple="multiple" accept="image/jpeg" 
                  [ngStyle]="{'display': 'none'}"  #selectFiles
                  (change)="onFilesSelected($event)" />
                <button mat-button (click)="selectFiles.click()">
                  <mat-icon> photo </mat-icon> Load Photos
                </button>
              </div>
              <button mat-icon-button fxFlex="none" (click)="showHelp=true">
                <mat-icon>help</mat-icon>
              </button>
            </div>
          </mat-toolbar>
          <section class="image-list" fxFlex="auto">
            <button class="image-button"  *ngFor="let i of images"
                [ngClass]="{'image-selected': i != null && currentImage == i.id }"
                (click)="onImageClick(i)">
              <img class="image" src="{{i != null ? i.dataUrl : ''}}" />
              <div class="image-overlay" fxLayout="row" fxLayoutAlign="space-around center">
                  <mat-icon fxFlex="none"> {{i != null && i.latLng != null ? 'location_on' : 'location_off'}} </mat-icon>
                  <mat-icon fxFlex="none" [ngStyle]="{'display': i != null && i.saved ? 'block': 'none'}"> save </mat-icon>
                  <span class="image-name mat-body-1" fxFlex="auto"> {{i != null ? i.fileName : ''}} </span>
              </div>
            </button>
          </section>
        </div>
      </section>
      <section class="sidepanel-help" [ngStyle]="{'display': showHelp ? 'block': 'none'}">
        <div class="sidepanel-container" fxLayout="column" fxLayoutAlign="start stretch">
          <mat-toolbar color="primary" fxflex="none">
            <div fxFill fxLayout="row" fxLayoutAlign="start center">
              <span fxFlex> Help </span>
              <button mat-icon-button fxFlex="none" (click)="showHelp=false">
                <mat-icon> clear </mat-icon>
              </button>
            </div>
          </mat-toolbar>
          <section class="help-content" fxflex="auto">
            <article>
              <h1> About </h1>
              <p>
                Use the application to set GPS location to JPEG photos.
              </p>
            </article>
            <article>
              <h1> How to set GPS location to photos </h1>
              <ol>
                <li> Click <mat-icon inline="true"> photo </mat-icon>
                    <b> Load Photos </b> button. In the Files dialog select JPEG pictures.
                </li>
                <li> In the list of loaded pictures click on the one which GPS location
                    should be set or changed. Pictures that do not have a GPS location
                    are marked with <mat-icon inline="true"> location_off </mat-icon>
                    sign.
                </li>
                <li> On the map click at a point that represents a GPS location of the
                    selected picture. In the opened popup box click
                    <mat-icon inline="true">save</mat-icon> <b>Save location</b>
                    to save the location to the picture.
                </li>
              </ol>
            </article>
            <article>
              <h1> Privacy policy </h1>
              <p>
                No user picture is sent to the application server. All pictures are processed
                localy on user machine. Operations with the map such as clicking or zooming
                might be tracked by Google Maps.
              </p>
            </article>
          </section>
        </div>
      </section>
    </mat-sidenav>
    <div class="map_container">
      <map-view #map_view></map-view>
      <div class="drawer-button container">
        <button class="toggle-button"
          [ngClass]="{'open-drawer': !sidenav.opened }"
          (click)="sidenav.opened ? sidenav.close() : sidenav.open()">
        </button>
      </div>
    </div>
  </mat-sidenav-container>
</section>
