@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$config: mat-typography-config();

$map-popup-border-radius: 2px;
$map-popup-shadow-color: rgba(0, 0, 0, 0.3);
$map-popup-background: white;
$map-popup-padding: 10px;
$map-popup-arrow-height: 16px;
$map-popup-border: none;

body,html {
  margin: 0;
  padding: 0;
  font-family: mat-font-family($config);
}

* {
  box-sizing: border-box;
}

.ak_pmap_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .mat-sidenav {
    min-width: 350px;
    width: 36%;
    height: 100%;
    overflow-x: hidden;

    .sidepanel-main {
      width: 100%;
      height: 100%;

      .sidepanel-container {
        width: 100%;
        height: 100%;

        .file-load-progress {
          position: absolute;
          top: 0;
          left: 0;
        }

        .image-list {
          overflow-y: auto;

          .image-button {
            display: block;
            position: relative;
            margin: 4px;
            padding: 0;
            max-width: calc(100% - 8px);
            height: auto;
            border-style: hidden;

            .image {
              display: block;
              max-width: 100%;
              height: auto;
            }

            .image-overlay {
              position: absolute;
              bottom: 0;
              width: 100%;
              height: auto;
              padding: 10px;
              background: rgba(0, 0, 50, 0.6); /* Black see-through */
              color: white; 

              .image-name {
                text-align: center;
              }
            }
          }

          .image-button:focus {
            outline: none;
          }

          .image-selected {
            border: 4px solid blue;
          }
        }
      }
    }
    .sidepanel-help {
      display: none;
      width: 100%;
      height: 100%;
      
      .sidepanel-container {
        width: 100%;
        height: 100%;

        .help-content {
          padding: 0 16px;
          overflow-y: auto;

          article {
            font-size: mat-font-size($config, body-1);

            h1 {
              font-size: mat-font-size($config, subheading-1);
            }

            ol {
              padding-left: 1rem;
            }

            ol li {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }

  .mat-sidenav-content {

    .map_container {
      width: 100%;
      height: 100%;
    }
  
    .drawer-button {
      &.container {
        position: absolute;
        top: 10px;
      }
      .toggle-button {
        width: 24px;
        height: 48px;
        cursor: pointer;
        background: rgba(255,255,255,0.9) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQVR4AX3JQcqBURQG4O/+9WNG30D3vOfSDTuQsgcZyBakZANSzMVMBme3zsBI5/VMn4ZKLP5ki1E4tYejWpilxVUtzOEUD68odYmXR5BJNp/4zllXD2phllYvamHmirsayUkfJ5ruHzueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==) 7px center/7px 10px no-repeat;
        padding: 0;
        border-style: none;
        border-left: 1px solid #D4D4D4;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      }
      .open-drawer {
        transform: scaleX(-1);
      }
      .toggle-button:focus {
        outline:0;
      }
    }
  }
}

.map-popup {
  position: absolute;
  display: inline-block;
  padding: 0;
  opacity: 0;
  background: $map-popup-background;
  border: $map-popup-border;
  border-radius: $map-popup-border-radius;
  box-shadow: 1px 1px 4px $map-popup-shadow-color;
 
  .arrow {
    position: absolute;
    left: 50%;
    bottom: -$map-popup-arrow-height;
    height: $map-popup-arrow-height;
    width: $map-popup-arrow-height * 2;
    margin-left: -$map-popup-arrow-height;
    overflow: hidden;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 7px;
    width: $map-popup-arrow-height * 2;
    height: $map-popup-arrow-height * 2;
    border: $map-popup-border;
    box-shadow: 1px 1px 4px $map-popup-shadow-color;
    transform: scaleX(0.4) rotate(45deg) ;
    background: $map-popup-background;
  }
}

.map-popup.active {
  opacity: 1;
}

.map-popup.out {
  opacity: 0;
}
